/*colores y estilo*/
:root {
  --PrimaryColor: #ffc300;
  --SecondaryColor: #fdef8a;
  --gradientColor: #ffc300;
  --whiteColor: hsl(0, 0%, 100);
  --whiteColorDeam: #eae3ba;
  --bodyColor: #eae3ba;
  --blackColor: hsl(240, 4%, 36%);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eae3ba;
  //font-family: "Righteos";
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(121, 121, 121, 0.904);

  .logo {
    color: var(--PrimaryColor);
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .icon {
      width: 200px;
      height: 40px;
      color: var(--PrimaryColor);
      transform: translateY(5px);
      display: inline;
    }
  }

  @media (max-width: 767px) {
    .navBar {
      position: absolute;
      background-color: var(--whiteColorDeam);
      height: max-content;
      width: 80%;
      border-radius: 1rem;
      top: -500rem;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
      transition: 0.1s ease-in-out;

      .navLists {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem 0;

        .navItem {
          padding: 0.5rem 0;

          .navLink {
            color: black;
            font-size: 0.9rem;
            font-weight: 600;
            &:hover {
              color: var(--PrimaryColor);
            }
          }
        }

        .btn {
          margin-top: 1rem;
        }
      }

      .closeNavbar {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: var(--PrimaryColor);
        &:hover {
          color: var(--SecondaryColor);
        }
      }
    }
    .activeNavbar {
      top: 7rem;
    }
  }

  .toggleNavbar {
    .icon {
      font-size: 25px;
      color: var(--PrimaryColor);
      &:hover {
        color: black;
      }
    }
  }
}

//Media Queries

@media screen and (min-width: 768px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }

  .header {
    padding: 1.5rem 2rem;

    .navBar {
      .navLists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .navItem {
          .navLink {
            color: black;
            padding: 0 0.45rem;
            font-size: 20px;
            font-weight: 400;

            &:hover {
              color: var(--PrimaryColor);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .header {
    .navBar {
      .navLists {
        .navItem {
          padding: 0 0.7rem;
        }
      }
    }
  }
}
