.ticket-page {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-container {
    width: 100%;
}

.button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(100%);
    cursor: pointer;

}

.buttonx {
    padding: 5px;
    margin-left: 10px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#botones-arriba {
    min-height: 34px;
    min-width: 100px;
    max-height: 300px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
  }

.image-container {
    padding: 10px;
    min-width: 235px;
    min-height: 345px;
    max-width: 470px;
    max-height: 690px;
    cursor: pointer;
}

.image-container img {
    width: 100%; /* Ancho al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
