.ticket-pagex {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-container {
    width: 100%;
}

.button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.button0 {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    filter: invert(100%);
}

#botones-arribax {
    min-height: 34px;
    min-width: 100px;
    max-height: 300px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
  }

.image-containerx {
    padding: 10px;
    min-width: 235px;
    min-height: 345px;
    max-width: 470px;
    max-height: 690px;
    cursor: pointer;
}

.image-containerx img {
    width: 100%; /* Ancho al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}

.wapi-text {
    color: white;
    font-size: 16px;
    padding: 5px;
}
.containerInfo{
    padding: 12px;
}
.infoExtra {
    background-color: #1C1C1E;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    min-width: 200px;
    max-width: 400px;
  }

.titleInfo{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 5px;

}

.info1{
    font-size: 14px;
    color: #7C7B80;
}

.separator {
    width: 100%;
    border: 1px solid #2E2E30;
    margin: 10px 0;
}

.izq{
    text-align: left;
    font-size: 12px;
}

.der{
    padding-left: 50px;
    font-size: 12px;
    text-align: right;
    display: inline-block;
    color: #7C7B80;
}
.infoCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

  